.ipynb_checkpoints/
.idea/
__pycache__/
.tmp.drivedownload/
Models/*.pth
Models/*.pkl
Models/*.old
wandb/
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
SegmentationData/
SegmentationDataOriginal/
